@model BaziMarket2.Models.ViewModel.UserChangePasswordViewModel






<main class="UserPanel">

    <ul class="sideBar">
        <li>
            <a href="https://localhost:44322/User/UserPanel?UserId=@ViewBag.UserId">
                <span class="material-symbols-outlined">account_box</span>  مشخصات
            </a>
        </li>
        <li>
            <a href="" style="background-color: #e8293f; color: white;">
                <span class="material-symbols-outlined">vpn_key_alert</span>  رمز عبور
            </a>
        </li>
        <li>
            <a href="">
                <span class="material-symbols-outlined">order_approve</span>  سفارش ها
            </a>
        </li>
        <li>
            <a href="">
                <span class="material-symbols-outlined">notifications</span>  اطلاعیه ها و اخبار
            </a>
        </li>
        <li>
            <a href="https://localhost:44322/User/Wishlist?UserId=@ViewBag.UserId">
                <span class="material-symbols-outlined">bookmark</span>  لیست ها
            </a>
        </li>
    </ul>


    <div style="border-radius: 10px; width: 900px; height: 500px">
        <!-- Account details card-->
        <div class="card">
            <div class="card-header">تغییر رمز عبور</div>
            <div class="card-body">
                <form id="form">
                    <input hidden id="Username" name="Username" type="text" value="@Model.Username" />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <!-- Form Group (username)-->
                    <div class="mb-5">
                        <label class="small mb-1 card-lable" for="UserPassword">رمز عبور فعلی</label>
                        <input class="form-control" id="Password" name="Password" type="password" autocomplete="off" required>
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-5 mb-5">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1 card-lable" for="NewPassword">رمز عبور جدید</label>
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1 card-lable" for="RepeatNewPassword">تکرار رمز عبور جدید</label>
                            @Html.EditorFor(model => model.RepeatNewPassword, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.RepeatNewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <!-- Save changes button-->
                    <input id="submit" onclick="SubmitForm()" class="btn btn-primary" type="submit" value="تغییر رمز عبور">
                    <input hidden type="reset" id="reset"/>
                </form>
            </div>
        </div>
    </div>
</main>





<script>

    $(function () {
        $('#submit').click(function () {
            if ($("#form").valid()) {
                return false;
            }
            else {
                return false;
            }
        });
    })

    function SubmitForm() {
        $("#form").submit(function (e) {
            e.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                url: 'ChangeUserPassword',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.error != null) {
                        alert(res.error);
                        $("#reset").click();
                    }
                    else if (res != "false") {
                        alert("رمز عبور با موفقیت تغییر یافت");
                        window.location.reload();
                    }

                },
                error: function (e) {
                    alert("error : " + e.statusText);
                }
            });
        });
    }

</script>







<script src="~/Scripts/jquery-3.6.4.min.js"></script>
<script src="~/Scripts/jquery-3.6.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>




