@model BaziMarket2.Models.ViewModel.UserRegisterViewModel


<div id="asdf" class="wrapper">
    <!-- Navbar -->
    <nav style="background-color: #007bff !important;" class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="@Url.Action("Panel","Admin",null,Request.Url.Scheme)" class="nav-link">پنل مدیریت</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link">تماس</a>
            </li>
        </ul>
    </nav>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="https://localhost:44322/" class="brand-link bg-danger">
            <img src="~/Images/local/Layer 9.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">بازی مارکت</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <div>
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <p class="text-white">@ViewBag.AdminName</p>
                    </div>
                    <div class="image" style="margin-right:40px;">
                        <img src="~/Images/user-image/@ViewBag.AdminImage" class="img-circle" style="width:50px; height:50px;" alt="User Image">
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->

                        <li class="nav-item">
                            <a href="@Url.Action("Panel","Admin",null,Request.Url.Scheme)" class="nav-link" style=" margin-top: 10px;">
                                <i class="nav-icon fa fa-bars"></i>
                                <p>
                                    صفحه ی اصلی
                                </p>
                            </a>
                        </li>

                        <li class="nav-item" style=" margin-top: 10px;">
                            <a href="https://localhost:44322/Admin/Users/AllUsers" class="nav-link">
                                <i class="nav-icon fa fa-users"></i>
                                <p>
                                    لیست کاربران
                                </p>
                            </a>
                        </li>
                        <li class="nav-item" style="background-color: #dc3545; margin-top: 10px;">
                            <a class="nav-link">
                                <i class="nav-icon fa fa-user-plus"></i>
                                <p>
                                    ثبت نام کاربر جدید
                                </p>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-top: 10px;">
                            <a href="@Url.Action("AllProducts","Products",null,Request.Url.Scheme)" class="nav-link">
                                <i class="nav-icon fa fa-cubes"></i>
                                <p>
                                    لیست محصولات
                                </p>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-top: 10px;">
                            <a href="@Url.Action("AddProduct","Products",null,Request.Url.Scheme)" style="display:flex" class="nav-link">
                                <span style="margin-left:7px;" class="material-symbols-outlined">deployed_code_update</span>
                                <p>
                                    افزودن محصول جدید
                                </p>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-top: 10px;">
                            <a href="@Url.Action("AddCategory","Category",null,Request.Url.Scheme)" style="display:flex;" class="nav-link">
                                <span style="margin-left:7px;" class="material-symbols-outlined">create_new_folder</span>
                                <p>
                                    افزودن دسته بندی
                                </p>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-top: 10px;">
                            <a href="@Url.Action("AddDiscount","Discounts",null,Request.Url.Scheme)" class="nav-link">
                                <i class="nav-icon fa fa-tags"></i>
                                <p>
                                    ثبت کد تخفیف
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">ثبت نام کاربر</h1>
                        <i class="fa-file-plus" style="color: #ff2929;"></i>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                            <li><a style="text-decoration:none;" href="https://localhost:44322/Admin/Admin/Panel">پنل مدیر</a></li>
                            <li style="padding-left:8px; padding-right:8px;">/</li>
                            <li class="">ثبت نام کاربر</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8">



                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">فرم</h3>
                            </div>
                            <!-- /.card-header -->

                            <div class="card-body p-0">
                                <form id="registerForm" class="form" style="padding: 20px;">
                                    @*@Html.AntiForgeryToken()*@
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "font-size:13px;" })
                                    <div class="row col-12" style="margin-bottom: 10px;">
                                        <div class="form-group col-6">
                                            <label for="">نام کاربری (شماره موبایل)</label>
                                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="">نقش کاربری</label>
                                            <select name="RoleId" id="RoleId" class="form-control" required>
                                                <option value="3" selected>مشتری</option>
                                                <option value="2">پشتیبانی</option>
                                                <option value="1">مدیر</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row col-12" style="margin-bottom: 10px;">
                                        <div class="form-group col-6">
                                            <label for="">رمز عبور</label>
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="">تکرار رمز عبور</label>
                                            @Html.EditorFor(model => model.RepeatPassword, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.RepeatPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="row col-12">
                                        <div class="form-group col-6" style="margin-bottom: 10px;">
                                            <label for="">نام</label>
                                            @*<input class="form-control" type="text" name="FirstName" id="FirstName">*@
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-6" style="margin-bottom: 10px;">
                                            <label for="">نام خانوادگی</label>
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="row col-12">
                                        <div class="form-group col-6" style="margin-bottom: 10px;">
                                            <label for="">وضعیت</label>
                                            <select class="form-control" name="IsActive" id="IsActive">
                                                <option class="bg-success" value="true" selected>فعال</option>
                                                <option class="bg-danger" value="false">غیر فعال</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6" style="margin-bottom: 10px;">
                                            <label for="">عکس</label>
                                            <input class="form-control" type="file" name="ProfileImage" id="ProfileImage">
                                            <span id="file_error" class="text-danger"></span>
                                            <span id="file_error1" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group col-12" style="margin-bottom: 50px;">
                                        <label for="">آدرس</label>
                                        <textarea cols="20" data-val="true" data-val-length="آدرس نمیتواند بیشتر از 200 کاراکتر داشته باشد!" data-val-length-max="200" class="form-control" name="Address" id="Address" rows="4"></textarea>
                                        @*@Html.TextAreaFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @row = "8" } });*@
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>



                                    <div class="row col-12" style="margin-bottom: 10px;">
                                        <div class="form-group col-6">
                                            <button type="reset" onclick="az()" class="btn btn-block btn-warning">دوباره نویسی</button>
                                        </div>
                                        <div class="form-group col-6">
                                            <button type="submit" id="submit" onclick="aq()" class="btn btn-block btn-success">ثبت کاربر</button>
                                        </div>
                                    </div>


                                </form>



                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix"></div>
                        </div>

                    </div>



                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">آخرین کاربران</h3>
                            </div>
                            <div class="card-body p-0">
                                <table class="table table-striped" style="font-size: 14px;">
                                    <tr style="background-color: honeydew;">
                                        <th>نام کاربری</th>
                                        <th>نام</th>
                                        <th>نقش</th>
                                        <th>عکس</th>
                                    </tr>
                                    @if (ViewData["UserRegisterList"] != null)
                                    {
                                        foreach (var item in ViewData["UserRegisterList"] as List<BaziMarket2.Models.ViewModel.UserRegisterListViewModel>)
                                        {
                                            <tr>
                                                <td>@item.Username</td>
                                                <td>@item.GetName()</td>
                                                <td>@item.Role.Title</td>
                                                <td><img style="width: 50px; height: 50px; border-radius:50%;" src="~/images/user-image/@item.ProfileImage" alt=""></td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                            <div class="card-footer">
                                <a href="AllUsers" style="text-decoration:none;" class="morris-hover" id="zxc">
                                    مشاهده همه کاربران
                                </a>
                            </div>


                        </div>
                    </div>




                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
        </footer>
    </div>
    <!-- ./wrapper -->





    <script>

        function az() {
            $("#submit").attr('disabled', false);
            $("#file_error").html("");
            $("#file_error1").html("");
            $("#registerForm").reset();
        }


        $(document).ready(function () {
            $("#ProfileImage").change(function () {
                $("#file_error").html("");
                $("#file_error1").html("");
                $(".file_upload1").css("border-color", "#F0F0F0");
                $("#submit").attr('disabled', false);
                var file_size = $('#ProfileImage')[0].files[0].size;
                if (file_size > 500000) {
                    $("#file_error").html("<p style='color:#FF0000'>حجم عکس نمیتواند بیش از 500 Kb باشد!</p>");
                    $(".file_upload1").css("border-color", "#FF0000");
                    $("#submit").attr('disabled', true);
                    return false;
                }
                var filename = $('#ProfileImage')[0].files[0].name;
                var extension = filename.substr(filename.lastIndexOf("."));
                var allowedExtensionsRegx = /(\.jpg|\.jpeg|\.png)$/i;
                var isAllowed = allowedExtensionsRegx.test(extension);
                if (isAllowed == false) {
                    $("#file_error1").html("<p style='color:#FF0000'>فرمت عکس اشتباه است!</p>");
                    $(".file_upload1").css("border-color", "#FF0000");
                    $("#submit").attr('disabled', true);
                }


                return true;
            });
        });

        var xxx = true;


        $(function () {
            $('#submit').click(function () {
                if ($("#registerForm").valid()) {
                    xxx = false;
                    return false;
                }
                else {
                    xxx = false;
                    return false;
                }
            });
        })


        var aa = "sdsdfsdfdsfsd";

        function aq() {
            $("#registerForm").submit(function (e) {
                e.preventDefault();
                var formData = new FormData(this);
                var fileUpload = $("#ProfileImage").get(0);
                var files = fileUpload.files;
                formData.set('Image', files[0]);
                //var active = $('#IsActive option:selected').val();
                //formData.set('viewModel.IsActive', active);
                $.ajax({
                    url: 'RegisterUser',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.message != null) {
                            alert(data.message);
                            window.location.replace(data.action);
                        }
                        else if (data != "false") {
                            alert("حطا : این شماره موبایل قبلا ثبت شده است!");
                        }
                    },
                    error: function (e) {
                        alert("error : " + e.statusText);
                    }
                });
            });
        }




    </script>







    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>




    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="plugins/chart.js/Chart.min.js"></script>
    <script src="dist/js/demo.js"></script>
    <script src="dist/js/pages/dashboard3.js"></script>
